@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    height: 100%;
  background-color: #EEEEEE;
}
.container {
    display: flex;
  margin: 0 auto;
  width: 1400px;
  font-family: 'Gothic A1', sans-serif;
 
  @media screen and (max-width: 768px) {
    max-width: 760px;
    margin: 0;
  }
  @media screen and (max-width: 480px) {
    max-width: 400px;
    margin: 0;
  }
}
ul{
    list-style: none;
    padding: 0;
}