



.sideBar{
    width: 306px;
    background-color: white;
    height: 1198px;
    padding-top: 36px;
    position: relative;
    display: none; /* Початково схований сайдбар */
  opacity: 0; /* Початкова прозорість */
  transition: opacity 0.5s ease; /* Плавне з'явлення */
}
.logo {
  display: flex;
  &-icon:last-child {
    margin-left: 4px;
  }
  &-icon {
    fill: #000000;
  }
  &-list{
    
    border-radius: 8px;
    width: 250px;
 padding: 11px;
    align-items: start;
    &:hover {
        background-color: #5932EA;
        .dash{
            fill:white;
        }
        .inc{
            stroke:white ;
        }
      }
  }
}
.logoName {
  display: flex;
  align-items: flex-end;
}
.dash{
    fill:#9197b3;
  
   
}
.inc{
    stroke:#9197b3 ;
}
.ava{
    position: absolute;
  bottom: 76;
  left: 28px;
    display: flex;
    align-items: center;
    img{
        margin-right: 12px;
    }
    p{
        margin: 0;
    }
    &-name{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 14; 
    }
    &-job{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 12; 
        color: #757575;
    }
}

.burger-menu {
    display: none; /* Приховуємо бургер-меню спочатку */
  }
  
  @media screen and (max-width: 480px) {
    .sideBar {
      display: none; /* Приховуємо сайдбар при розмірах екрану менше або рівних 480px */
    }
  
    .burger-menu {
      display: block; /* Відображаємо бургер-меню при розмірах екрану менше або рівних 480px */
    }
    
  }
  .show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease; /* Плавне з'явлення */
  }